In [1]:
import wagen.caltopo_io as cti
import wagen.timeline as tl
import pandas as pd
from pprint import pp
import datetime as dt

In [2]:
cfg = dict(
    start_time=dt.datetime.fromisoformat('2025-04-20'),
    morning_daylight=1.5,
    evening_daylight=2.0,
    include_dt=False)

In [3]:
df, trip, meta = tl.trip_timeline(csvfname='~/Downloads/travelplan.NewHance.csv', **cfg)

Wrote Excel version of dataframe to ~/Downloads/travelplan.NewHance.xlsx

In [4]:
print(trip)
display(meta)
display(df.round(1))

{'start_latlon': [35.99075, -111.93578], 'start_elevation': 7021, 'elapsed_hours': 10.316666666666666}

{'first_date': '2025-04-20',
 'day_start_time': '06:49',
 'twilight': '2025-04-21T05:19:16-07:00',
 'sunrise': '2025-04-21T05:44:43-07:00',
 'sunset': '2025-04-20T19:07:06-07:00',
 'start_latlon': [35.99075, -111.93578],
 'start_elevation': 7021,
 'morning_daylight': 1.5,
 'evening_daylight': 2.0,
 'tzid': 'America/Phoenix'}

,date,time,alert,day,waypoint,distance,aeg,ael,day_hours,duration,break_minutes,elapsed,elevation,hours,pace
0,2025-04-20,06:49,,1,Start,0.0,0,0,0.0,0,0,0,7021,0.0,0
1,2025-04-20,06:50,,1,New Hance TH,0.0,5,0,0.0,1,0,1,7026,0.0,27
2,2025-04-20,08:46,,1,VP,2.1,251,-2233,2.0,116,0,117,5045,1.9,55
3,2025-04-20,10:07,,1,Flowing water,1.7,19,-1734,3.3,81,0,198,3330,1.4,48
4,2025-04-20,11:25,,1,water,1.6,0,-725,4.6,48,30,246,2606,1.3,29
5,2025-04-20,,,1,Start,0.0,0,0,4.6,0,0,246,2594,0.0,0
6,2025-04-20,13:16,,1,snack,2.2,941,-100,6.4,91,20,337,3436,1.8,40
7,2025-04-20,,,1,EOD,0.0,0,0,6.4,0,0,436,3698,0.0,0
8,2025-04-20,14:55,,1,camp,3.5,596,-333,8.1,99,0,436,3698,1.6,28
9,2025-04-21,06:49,,2,Start,0.0,0,0,0.0,0,0,436,3714,0.0,0
10,2025-04-21,06:50,,2,view2,0.0,0,0,0.0,1,0,437,3714,0.0,26
11,2025-04-21,,,2,Start,0.0,0,0,0.0,0,0,437,3921,0.0,0
12,2025-04-21,,,2,Start,0.0,0,0,0.0,0,0,437,4857,0.0,0
13,2025-04-21,07:00,,2,West arm point,0.3,78,-31,0.2,10,0,447,4904,0.2,34
14,2025-04-21,,,2,Start,0.0,0,0,0.2,0,0,447,4862,0.0,0
15,2025-04-21,,,2,Start,0.0,0,0,0.2,0,0,447,4885,0.0,0
16,2025-04-21,09:52,,2,car,2.5,2547,-9,3.0,172,0,619,7422,2.9,69