In [1]:
import wapgen.caltopo_io as cti
import wapgen.timeline as tl
import pandas as pd
from pprint import pp
import datetime as dt

# Escalante Route
Down Tanner, up New Hance. Main obstacles are Papago wall (class 3) and Papago slide (i.e. "gully"

## Waypoints

In [2]:
df, trip = cti.travelplan_multi_csv(csvfname='~/Downloads/travelplan.GC-Escalante.csv')
print(trip)
with pd.option_context("display.max_columns", None):
    display(df.round(1))

Wrote Excel version of dataframe to ~/Downloads/travelplan.GC-Escalante.xsl
{'start_latlon': [36.03252, -111.85212], 'start_elevation': 7350, 'elapsed_hours': 10.483333333333333}

,day,eod,segment,waypoint,trip_leg,elevation,aeg,ael,distance,duration,break_minutes,elapsed,notes,hours,pace
0,1,False,Tanner,Start,1,7350,0,0,0.0,0,0,0,,0.0,0
1,1,False,Tanner,picture view points,2,5217,333,-2466,3.6,151,30,151,,3.0,42
2,1,False,d-1b,Start,3,2687,0,0,0.0,0,0,151,,0.0,0
3,1,False,d-1b,overlook,4,2685,68,-70,0.6,16,0,167,Basalt ck riffle,0.3,24
4,1,False,d-1b,water,5,2646,124,-163,1.9,41,0,208,,0.7,21
5,1,True,d-1b,EOD,EOD1,2642,0,0,0.0,0,0,208,,0.0,0
6,1,True,d-1b,camp,6,2642,0,-3,0.0,0,0,208,day 1,0.0,0
7,2,False,d-2a,Start,7,2641,0,0,0.0,0,0,208,,0.0,0
8,2,False,d-2a,cliff,8,3752,1188,-78,2.8,113,0,321,,1.9,40
9,2,False,d-2a,water,9,2615,311,-1447,2.7,106,20,427,,2.1,39
10,2,False,d-2a,Seventfive Mile Creek,10,2838,291,-69,0.8,31,0,458,,0.5,37
11,2,False,d-2a,water,11,2614,29,-252,0.6,18,0,476,,0.3,32
12,2,False,d-2a,Papago wall,12,2650,203,-168,0.8,28,30,504,,1.0,37
13,2,False,d-2a,Papago slide,13,2798,153,-5,0.1,10,60,514,,1.2,89
14,2,False,d-2a,water,14,2591,100,-307,0.7,25,0,539,,0.4,36
15,2,True,d-2a,EOD,EOD2,2569,0,0,0.0,0,0,541,,0.0,0
16,2,True,d-2a,camp,15,2569,0,-22,0.1,2,0,541,day 2,0.0,25
17,3,False,d-3,Start,16,2591,0,0,0.0,0,0,541,,0.0,0
18,3,False,d-3,"water, maybe",17,3238,648,0,1.6,63,0,604,,1.0,40
19,3,False,TH to Car,Start,18,7021,0,0,0.0,0,0,604,,0.0,0
20,3,True,TH to Car,EOD,EOD3,7156,0,0,0.0,0,0,629,,0.0,0
21,3,True,TH to Car,car,19,7156,135,0,1.2,25,0,629,,0.4,20

In [3]:
pd.DataFrame(trip)

   start_latlon  start_elevation  elapsed_hours
0      36.03252             7350      10.483333
1    -111.85212             7350      10.483333

## Timeline

In [7]:
times_df, meta = tl.timeline(df, trip, 
                             start_time=dt.datetime.fromisoformat('2025-09-23'),
                             morning_daylight=1.5,
                             evening_daylight=4.0,
                             include_dt=False)
display(trip)
display(meta)
with pd.option_context("display.max_columns", None):
    display(times_df.round(1))

{'start_latlon': [36.03252, -111.85212],
 'start_elevation': 7350,
 'elapsed_hours': 10.483333333333333}

{'first_date': '2025-09-23',
 'day_start_time': '07:21',
 'twilight': '2025-09-24T05:51:51-07:00',
 'sunrise': '2025-09-24T06:16:06-07:00',
 'sunset': '2025-09-23T18:23:49-07:00',
 'start_latlon': [36.03252, -111.85212],
 'start_elevation': 7350,
 'morning_daylight': 1.5,
 'evening_daylight': 4.0,
 'tzid': 'America/Phoenix'}

,date,time,alert,day,waypoint,distance,aeg,ael,day_hours,duration,break_minutes,elapsed,elevation,hours,pace
0,2025-09-23,07:21,,1,Start,0.0,0,0,0.0,0,0,0,7350,0.0,0
1,2025-09-23,10:22,,1,picture view points,3.6,333,-2466,3.0,151,30,151,5217,3.0,42
2,2025-09-23,,,1,Start,0.0,0,0,3.0,0,0,151,2687,0.0,0
3,2025-09-23,10:38,,1,overlook,0.6,68,-70,3.3,16,0,167,2685,0.3,24
4,2025-09-23,11:19,,1,water,1.9,124,-163,4.0,41,0,208,2646,0.7,21
5,2025-09-23,,,1,EOD,0.0,0,0,4.0,0,0,208,2642,0.0,0
6,2025-09-23,,,1,camp,0.0,0,-3,4.0,0,0,208,2642,0.0,0
7,2025-09-24,07:21,,2,Start,0.0,0,0,0.0,0,0,208,2641,0.0,0
8,2025-09-24,09:14,,2,cliff,2.8,1188,-78,1.9,113,0,321,3752,1.9,40
9,2025-09-24,11:20,,2,water,2.7,311,-1447,4.0,106,20,427,2615,2.1,39
10,2025-09-24,11:51,,2,Seventfive Mile Creek,0.8,291,-69,4.5,31,0,458,2838,0.5,37
11,2025-09-24,12:09,,2,water,0.6,29,-252,4.8,18,0,476,2614,0.3,32
12,2025-09-24,13:07,,2,Papago wall,0.8,203,-168,5.8,28,30,504,2650,1.0,37
13,2025-09-24,14:17,,2,Papago slide,0.1,153,-5,6.9,10,60,514,2798,1.2,89
14,2025-09-24,14:42,LATE to CAMP,2,water,0.7,100,-307,7.4,25,0,539,2591,0.4,36
15,2025-09-24,,LATE to CAMP,2,EOD,0.0,0,0,7.4,0,0,541,2569,0.0,0
16,2025-09-24,14:44,LATE to CAMP,2,camp,0.1,0,-22,7.4,2,0,541,2569,0.0,25
17,2025-09-25,07:21,,3,Start,0.0,0,0,0.0,0,0,541,2591,0.0,0
18,2025-09-25,08:24,,3,"water, maybe",1.6,648,0,1.0,63,0,604,3238,1.0,40
19,2025-09-25,,,3,Start,0.0,0,0,1.0,0,0,604,7021,0.0,0
20,2025-09-25,,,3,EOD,0.0,0,0,1.0,0,0,629,7156,0.0,0
21,2025-09-25,08:49,,3,car,1.2,135,0,1.5,25,0,629,7156,0.4,20

## Summary by day

In [5]:
day_totals = df.groupby('day').agg({c:'sum' for c in ['distance','break_minutes','hours','aeg','ael']})
day_totals.round(1)

     distance  break_minutes  hours   aeg   ael
day
1         6.1             30    4.0   525 -2702
2         8.5            110    7.4  2275 -2348
3         2.8              0    1.5   783     0

## Distance per segment (miles)

In [6]:
pivot_df = df.pivot_table(index='day', columns=['segment'], aggfunc='sum', values='distance')
pivot_df.round(1)

segment  TH to Car  Tanner  d-1b  d-2a  d-3
day
1              NaN     3.6   2.6   NaN  NaN
2              NaN     NaN   NaN   8.5  NaN
3              1.2     NaN   NaN   NaN  1.6